h1 {
  text-align: center;
  font-family: sans-serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}

html {
  height: 100%;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  background-image:url(https://cdn.nextgov.com/media/img/upload/2020/10/19/NGspace20201019/route-fifty-lead-image.jpg);
   text-align: center;
  height: 100%;
  margin: 0;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
}


.Class-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
}

.Description-btn {
  padding: 5px;
}

.Hidden {
  visibility: hidden;
}


.Dorm {
    text-align: center;
  }

  .DormTitle {
    color: blue;
    padding-top: 200px;
  }

  .number {
    text-align: center;
  }

  .content {
    width:50%;
    margin-left: auto;
    margin-right: auto;
    background-color: #CCCCFF;
    border-radius: 20px;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
