h1 {
  text-align: center;
  font-family: sans-serif;
}

h2 {
  text-align: center;
}

h3 {
  text-align: left;
}


body {
  background-image:url(https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?cs=srgb&dl=pexels-min-an-1353938.jpg&fm=jpg);
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: white;
}


.Class-btn {
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
}

.Description-btn {
  padding: 5px;
}

.Hidden {
  visibility: hidden;
}


.Dorm {
    text-align: center;
  }

  .DormTitle {
    color: blue;
    margin-top: 225px;
  }

  .number {
    text-align: center;
  }
